:root{
    --main-color: #f0932b ;
    --bg-color:#0f054d;
    --hover-color: #d17e16  ;
    --paragraph-color:  #333333;
    --wh-color: #fff;
    --body-color: rgb(217 224 228);
    --main-transition: .5s;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--body-color);
}

.main-btn{
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.main-btn:hover{
    background-color: var(--hover-color);
}

.section-heading svg{
    color: var(--main-color);
}

.section-heading-title{
    color: var(--main-color);

}
/* ----------------------------------------------------------------------------------- */
/* navbar */
.navbar{
    background-color: var(--bg-color);
} 

.navbar .navbar-brand{
    color: var(--main-color);
}

.navbar .navbar-nav .nav-link{
    color: var(--wh-color);
}

.navbar .navbar-nav .nav-link:hover{
    transition: var(--main-transition);
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--hover-color);
}

.navbar .navbar-toggler{
    color: var(--main-color);
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}
/* -------------------------------------------------------------------------------- */
/* landing */
.landing{
     /* min-height: calc(100vh - 72px);  */
     min-height: 70vh;
}

.landing .landing-text{
    color: var(--paragraph-color);
}

.landing .landing-text span{
    color: var(--main-color);
}
/* ------------------------------------------------------------------------ */
/* ayat */
.ayat-item-desc{
    color: var(--bg-color);
}
/* ---------------------------------------------------------------------------- */
/* adeia */
.adeia{
    background-color: var(--bg-color);
}

.adeia-desc{
    color: var(--main-color);
}
/* ----------------------------------------------------------------------- */
/* azkar */
.azkar{
    background-image: url("../img/azkar.jpg");
    background-size: contain;
    height: 70vh;
}

.azkar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
}

.azkar-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.azkar-desc{
    color: var(--wh-color);
}
/* -------------------------------------------------------------------------------- */
/* footer */
footer{
    background-color: var(--bg-color);
}

.footer-desc{
    color: var(--wh-color);
}
/* ------------------------------------------------------------------------------------ */
/* btn to up */
.btn-up{
    background-color: var(--main-color);
    color: var(--wh-color);
    border: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    display: none;
    
}
