*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --body-color: rgb(44, 92, 92);
    --parent-color: #fff;
    --main-transition: .5s;
}

html{
    font-size: 10px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color);
}

.parent{
   height: 12rem;
   width: 38rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--parent-color);
  border-radius: 1rem;
}

.parent span{
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 5rem;
}

.parent .num{
    font-size: 5rem;
    border-right: .2rem solid rgb(93 114 128 / 56%);
    border-left: .2rem solid rgb(93 114 128 / 56%);
}